services:
  # fastapi for support
  cityos_support:
      container_name: cityos_support
      build: ./cityos_support
      volumes:
          - ./cityos_support/app:/app
          - ./ssl:/app/ssl
      env_file:
        - ./.env
      ports:
          - "8080:8080"
      networks:
          - cityos_net
      logging:
          driver: json-file
          options:
              max-file: '1'
              max-size: 3m

  elasticsearch:
      build: ./elasticsearch
      container_name: cityos_es
      environment:
          - xpack.security.enabled=false
          - node.name=es01
          - discovery.type=single-node
          - cluster.name=docker-cluster
          - bootstrap.memory_lock=true
          #- ELASTICSEARCH_PASSWORD=zaq1@2wsx
          - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
      ulimits:
          memlock:
              soft: -1
              hard: -1
      volumes:
          - cityos_es_vol:/usr/share/elasticsearch/data
      ports:
          - 19200:9200
          - 19300:9300
      networks:
          - cityos_net
      logging:
          driver: json-file
          options:
              max-file: '1'
              max-size: 3m

  kibana:
    build: ./kibana
    container_name: cityos_kibana
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_URL=http://cityos_es:9200
      - ELASTICSEARCH_USERNAME=elasticsearch
      #- ELASTICSEARCH_PASSWORD=zaq1@2wsx
    depends_on:
      - elasticsearch
    restart: always
    networks:
        - cityos_net
    logging:
        driver: json-file
        options:
            max-file: '1'
            max-size: 3m

  # orion
  orion:
    image: fiware/orion
    container_name: cityos_orion
    hostname: orion
    ports:
      - "8082:1026"
    volumes:
      - ./ssl:/ssl
    depends_on:
      - mongo-db
    #command: -dbhost mongo-db
    command: -dbURI mongodb://mongo-db -https -cert /ssl/bodik.jp.pem -key /ssl/bodik.key
    environment:
      - ORION_LOG_LEVEL=INFO
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
        max-file: '1'
        max-size: 3m

  mongo-db:
    container_name: cityos_mongo-db
    build: ./mongodb
    hostname: mongo-db
    #command: --nojournal
    volumes:
      - cityos_mongodb_vol:/data/db
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
        max-file: '1'
        max-size: 3m

  cygnus:
    build: ./cygnus
    hostname: cygnus
    container_name: cityos_cygnus
    depends_on:
      - elasticsearch
    ports:
      - "5055:5055"
      - "5058:5058" 
      - "5080:5080" 
    environment:
      - "CYGNUS_LOG_LEVEL=INFO"
      - "CYGNUS_ELASTICSEARCH_SKIP_CONF_GENERATION=true"
      - "CYGNUS_API_PORT=5080" # Port that Cygnus listens on for operational reasons
      # for elasticsearch sink
      - "CYGNUS_AGENT_CONF_FILE=agent-elasticsearch.conf"
      - "CYGNUS_AGENT_NAME=cygnus-ngsi"
    volumes:
      - ./cygnus/conf/agent-elasticsearch.conf:/opt/apache-flume/conf/agent-elasticsearch.conf
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
        max-file: '1'
        max-size: 3m

  # kong gateway
  kong:
    container_name: cityos_kong
    build: ./kong
    hostname: kong
    #image: kong:3.4.2
    ports:
      - 0.0.0.0:80:8000   # listen request (HTTP)
      - 443:8443           # listen request (HTTPS)

      - 8086:8086           # admin API (HTTP)
      - 8087:8087           # admin API (HTTPS)
      - 8088:8002           # kong manage GUI
      - 8089:8445           # kong manage GUI (HTTPS)

      #- 8005:8005           # Hybrid mode
      #- 8006:8006           # Hybrid mode

    volumes:
      - ./ssl:/usr/local/kong/cert
    environment:
      - "KONG_PROXY_ACCESS_LOG=/dev/stdout"
      - "KONG_ADMIN_ACCESS_LOG=/dev/stdout"
      - "KONG_PROXY_ERROR_LOG=/dev/stderr"
      - "KONG_ADMIN_ERROR_LOG=/dev/stderr"
      #- "KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl"  # ここを変更してはいけない！内部的に利用している。
      - "KONG_ADMIN_LISTEN=0.0.0.0:8086, 0.0.0.0:8087 ssl"  # 内部の設定を変更
      #- "KONG_STREAM_LISTEN=0.0.0.0:1883"

      - "KONG_DATABASE=postgres"
      - "KONG_PG_HOST=kong-db"
      - "KONG_PG_USER=kong"
      - "KONG_PG_PASSWORD=kongpass@fapi"

      - "KONG_CLUSTER_CERT=/usr/local/kong/cert/bodik.jp.pem"
      - "KONG_CLUSTER_CERT_KEY=/usr/local/kong/cert/bodik.key"
      - "KONG_SSL_CERT=/usr/local/kong/cert/bodik.jp.pem"
      - "KONG_SSL_CERT_KEY=/usr/local/kong/cert/bodik.key"
      - "KONG_ADMIN_SSL_CERT=/usr/local/kong/cert/bodik.jp.pem"
      - "KONG_ADMIN_SSL_CERT_KEY=/usr/local/kong/cert/bodik.key"
      - "KONG_ADMIN_GUI_SSL_CERT=/usr/local/kong/cert/bodik.jp.pem"
      - "KONG_ADMIN_GUI_SSL_CERT_KEY=/usr/local/kong/cert/bodik.key"
      - "KONG_PLUGINS=bundled,fiware-authz,fiware-public"
      #- "KONG_LOG_LEVEL=debug"

    #command: "kong migrations bootstrap && kong start --nginx-conf /usr/local/kong/nginx.conf"
    #entrypoint: ["/docker-entrypoint.sh", "kong", "start", "--nginx-conf", "/usr/local/kong/nginx.conf"]
    entrypoint: ["/docker-entrypoint.sh", "kong", "start"]
    depends_on:
      kong-migrate:
        condition: service_completed_successfully
      fluentbit:
        condition: service_healthy
    restart: "on-failure:3"
    networks:
      - cityos_net
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: kong.{{.Name}}

  kong-migrate:
    container_name: cityos_kongmig
    #image: kong:3.5.0
    image: kong:3.9
    depends_on:
      kong-db:
        condition: service_healthy
    environment:
      KONG_DATABASE: "postgres"
      KONG_PG_HOST: "kong-db"
      KONG_PG_USER: "kong"
      KONG_PG_PASSWORD: "kongpass@fapi"
      KONG_CASSANDRA_CONTACT_POINTS: "kong-db"
      KONG_PLUGINS: bundled,fiware-authz
    #command: "kong migrations up && kong migrations finish"
    command: "/bin/sh -c \"kong migrations up || true && kong migrations finish\""
    restart: "no"
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
        max-file: '1'
        max-size: 3m

  kong-db:
    container_name: cityos_kongdb
    image: "postgres:16.1"
    environment:
      POSTGRES_DB: "kong"
      POSTGRES_USER: "kong"
      POSTGRES_PASSWORD: "kongpass@fapi"
    volumes:
      - cityos_kongdb_vol:/var/lib/postgresql/data
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
        max-file: '1'
        max-size: 3m
    ports: # 外部からアクセスしない場合でも、デバッグ用にポートを公開しても良い
      - "5432:5432"
    healthcheck: # ここを追加します！
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"] # 環境変数を使用
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s # サービス起動直後の猶予期間

  # MQTT broker
  emqx:
    container_name: cityos_emqx
    hostname: emqx
    build: ./emqx
    ports:
      - 1883:1883   # MQTT
      - 8883:8883   # MQTT over TLS
      - 8083:8083   # MQTT over WebSocket
      - 18083:18083 # ダッシュボードUI
    volumes:
      - cityos_emqx_vol:/opt/emqx/data
      - ./emqx/conf/emqx.conf:/opt/emqx/etc/emqx.conf
      - ./emqx/plugins/emqx_auth_http.conf:/opt/emqx/etc/plugins/emqx_auth_http.conf
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
        max-file: '1'
        max-size: 3m

  # iot-agent for json
  iot-agent:
    image: fiware/iotagent-json:latest
    container_name: cityos_iotagent_json
    depends_on: 
      - mongo-db
    expose:
      - "4041"
      - "7896"
    ports:
      - "4041:4041"
      - "7896:7896"
    environment:
      - IOTA_CB_HOST=orion
      - IOTA_CB_PORT=1026
      - IOTA_NORTH_PORT=4041
      - IOTA_REGISTRY_TYPE=mongodb
      - IOTA_LOG_LEVEL=DEBUG
      - IOTA_TIMESTAMP=true
      - IOTA_CB_NGSI_VERSION=v2
      - IOTA_AUTOCAST=true
      - IOTA_MONGO_HOST=mongo-db
      - IOTA_MONGO_PORT=27017
      - IOTA_MONGO_DB=iotagentjson
      - IOTA_HTTP_PORT=7896
      - IOTA_PROVIDER_URL=http://iot-agent:4041
      - IOTA_DEFAULT_RESOURCE=/iot/json    
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
        max-file: '1'
        max-size: 3m

  # keycloak 認証
  keycloak:
    build: ./keycloak
    container_name: cityos_keycloak
    #hostname: keycloak.bodik.jp
    depends_on:
      - keycloak_mysql
    command: 
      - start-dev
    volumes:
      - ./ssl:/etc/ssl/cityos
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      #KEYCLOAK_ADMIN: admin
      #KEYCLOAK_ADMIN_PASSWORD: zaq1@@@@2wsx
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://cityos_mysql:3306/keycloak
      KC_DB_URL_DATABSE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: zaq1@@KC@@2wsx

      KC_HOSTNAME: ${KC_HOSTNAME}
      #KC_HOSTNAME: keycloak
      #KC_HTTP_ENABLED: 'true'
      KC_HTTPS_ENABLED: 'true'
      KC_HTTPS_PORT: 8443
      KC_PROXY: edge
      KC_HTTPS_CERTIFICATE_FILE: /etc/ssl/cityos/bodik.jp.pem
      KC_HTTPS_CERTIFICATE_KEY_FILE: /etc/ssl/cityos/bodik.key
      
      KC_FEATURES: preview
      KC_LOG_LEVEL: INFO

    ports:
      - 8081:8080
      - 8084:8443
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
          max-file: '1'
          max-size: 3m

  keycloak_mysql:
    build: ./mysql
    container_name: cityos_mysql
    volumes:
      - cityos_keycloak-mysql_vol:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: KEYCLOAK_PASSWORD
      MYSQL_DATABASE: keycloak
      MYSQL_USER: keycloak
      MYSQL_PASSWORD: zaq1@@KC@@2wsx
    ports:
      - 3306:3306
    networks:
      - cityos_net
    logging:
      driver: json-file
      options:
          max-file: '1'
          max-size: 3m

  fluentbit:
    build: ./fluentbit
    container_name: cityos_fluentbit
    hostname: cityos_fluentbit
    # The command is the most critical part, it tells the container to start Fluent Bit with the configuration file.
    command: /fluent-bit/bin/fluent-bit -c /fluent-bit/etc/fluent-bit.conf
    ports:
      - "24224:24224"
    networks:
        - cityos_net
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 24224 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    logging:
        driver: json-file
        options:
            max-file: '1'
            max-size: 3m

networks:
  cityos_net:
    driver: bridge

volumes:
  cityos_es_vol:
  cityos_mongodb_vol:
  cityos_kongdb_vol:
  cityos_keycloak-mysql_vol:
  cityos_emqx_vol:
