.group_stage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app_group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
}
.group_title {
    background-color: #3389ca;
    color: white;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction:row;
}
.group_app {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    flex-direction:row;
}
.app_button {
    width: 200px;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 12pt;
    cursor: pointer;
}
