{% extends "layout.html" %}

{% block head %}
<title>BODIK CityOS 小学校区</title>

<meta name="description" content="共有データ連携基盤サンプルアプリ">

<script src="https://cdnjs.cloudflare.com/ajax/libs/encoding-japanese/1.0.30/encoding.min.js"></script>

    <script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />

<!--
<script src="https://unpkg.com/maplibre-gl@^5.7.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@^5.7.1/dist/maplibre-gl.css" rel="stylesheet" />
-->

<link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/elementary.css">
<script src="{{ base_url }}static/js/elementary.js"></script>

{% endblock %}

{% block body %}
<div class="container" id="container">
    <div class="header" id="header">
        <select class="organ_select" id="organ_select"></select>
        <div class="title">BODIK CityOS 小学校区</div>
    </div>
    <div class="stage" id='stage'>
        <div class="map" id="map"></div>
    </div>
    <div class='footer' id="footer"></div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript">
    function init() {
        //  画面
        show_page();
    }
</script>

{% endblock %}
