.container {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

.header {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .title {
    flex-grow: 1;
    text-align: center;
}

.show_map {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 10px;
    font-size: 16pt;
}

#canvas {
    display: none;
}

.stage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.organ_select {
    width: 200px;
    height: 30px;
    background: white;
    font-size: 14pt;
}
.map {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

.row {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
}


.submit {
    width: 100px;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px 10px 10px 0;
    height: 40px;
    font-size: 10pt;
}
.change_camera {
    width: 50px;
    height: 50px;
    margin-right : auto;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
    font-size: 10pt;
}

.output {
    font-size: 12pt;
}

.footer {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
}
