.container {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

.header {
    background: rgb(48, 48, 139);
    color: white;
    width: 100%;
    height: 50px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.command {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
}
.select_dataset {
    width: 300px;
    height: 40px;
    margin: 5px;
    font-size: 14pt;
}
.submit {
    width: 100px;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px 10px 10px 0;
    height: 40px;
    font-size: 14pt;
}
.checkbox {
    margin: 0 20px;
}

.stage {
    width: 100%;
    height: 100px;  /* paramのスクロールに対応するため、仮でいいので高さを指定する必要あり */
    flex: 1 1;
    display: flex;
    flex-direction: row;
}

.param_box {
    /*background: rgb(172, 84, 223);*/
    flex: 1;
    /*height: 100%;*/
    overflow: auto;
}
.param_area {
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    /*overflow-y: scroll;*/
}
.row {
    /*width: 100%;*/
    height: 80px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row .caption {
    width: 150px;
    margin: 5px 5px 0 10px;
    height: 20px;
    font-size: 10pt;
}
.row .text_field {
    /*width: 400px;*/
    flex: 1;
    height: 40px;
    background: white;
    border: 1px solid rgb(68, 138, 230);
    font-size: 14pt;
}
.row_last {
    width: 100%;
    height: 60px;
}

.ngsi_box {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.label {
    margin-left: 10px;
    font-weight: bold;
}
.request_area {
    /*background: rgb(97, 228, 118);*/
    margin: 5px;
    border: 1px solid rgb(68, 138, 230);
    min-height: 200px;
    display: flex;
    /*flex: 1;*/
    flex-direction: column;
    overflow: auto;
}
.request_body {
    margin: 10px;
    text-wrap: wrap;
    font-size: 14pt;
}

.response_area {
    /*background: rgb(182, 211, 231);*/
    margin: 5px;
    border: 1px solid rgb(68, 138, 230);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.response_body {
    margin: 10px;
    text-wrap: wrap;
    font-size: 12pt;
}
.footer {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
}
