.container {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

.header {
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.command {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
}
.select_dataset {
    width: 300px;
    height: 40px;
    margin: 5px;
    font-size: 14pt;
}
.select_distance {
    width: 200px;
    height: 40px;
    margin: 5px;
    font-size: 14pt;
}
.select_count {
    width: 150px;
    height: 40px;
    margin: 5px;
    font-size: 14pt;
}
.select_property {
    width: 150px;
    height: 40px;
    margin: 5px;
    font-size: 14pt;
}
.select_datatype {
    width: 100px;
    height: 40px;
    margin: 5px;
    font-size: 14pt;
}
.label {
    margin: 5px 5px 5px 10px;
    color: white;
}

.command .location {
    margin-left: auto;
}

.location {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 10px;
    font-size: 16pt;
}

.stage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.map {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    flex: 1;
}

.photo {
    width: 300px;
    height: 400px;
}
/* アクティブなレイヤー */
.active {
  opacity: 1;
  visibility: visible;
  z-index: 10; /* 最前面 */
  transform: scale(1);
}

/* 他の非表示レイヤーは下に */
.inactive {
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transform: scale(0.95);
}

.row {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
}


.submit {
    width: 100px;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px 10px 10px 0;
    height: 40px;
    font-size: 14pt;
}
.change_camera {
    width: 50px;
    height: 50px;
    margin-right : auto;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
    font-size: 10pt;
}

.output {
    font-size: 12pt;
}

.footer {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
}
