.container {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

.header {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#canvas {
    display: none;
}

.stage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.video {
    background-color: azure;
    margin: 5px;
    /*margin-right: 10px;*/
    height: auto;
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
    object-fit: contain;
}
.photo {
    /*width: 100%;*/
    /*height: 240px;*/
    margin: 5px;
    /*margin-right: 10px;*/
    height: auto;
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
    object-fit: contain;
}

.row {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
}


.submit {
    width: 100px;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px 10px 10px 0;
    height: 40px;
    font-size: 10pt;
}
.change_camera {
    width: 50px;
    height: 50px;
    margin-right : auto;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
    font-size: 10pt;
}

.output {
    font-size: 12pt;
}

.footer {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item {
  /* トランジション（変化時間）を設定 */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* 非表示時の基本スタイル */
.hidden {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s;
}

/* 表示時のスタイル */
.visible {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}