.container {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

.header {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    /*width: 100%;*/
    margin: 5px;
    display: flex;
    flex-direction: row;
}
.label {
    width: 200px;
    font-size: 14pt;
}
.edittext {
    /*background-color: #3389ca;*/
    /*color: white; */
    padding-left: 10px;
    width: 100%;
    height: 30px;
}

.submit {
    width: 100px;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px 10px 10px 0;
    height: 40px;
    font-size: 10pt;
}

.output {
    font-size: 12pt;
}

.footer {
    background-color: #3389CA;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    flex-basis: 1;
    align-items: flex-baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
}
